configuration {
    combi-modes: "window,drun,run";
    modes: "combi";
    show-icons: true;
    font: "Inconsolata for Powerline 16";
    terminal: "alacritty";
    display-combi: "";
}

@theme "/home/remi/.dot/rofi/dark"
