# Auto-toggle power saver on AC plug/unplug (HP ZBook Ultra G1a)
ACTION=="change", KERNEL=="AC", SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/cool-ryzen-apply on --notify --auto"
ACTION=="change", KERNEL=="AC", SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/cool-ryzen-apply off --notify --auto"
